.vertical-nav {
    width: 150px;
    height: 100%;
    min-height: 90vh;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(192, 192, 192, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.vertical-nav a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.active {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #f9b42d;
}