body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: url('../images/homepage-landscape.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

header {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.credentials-nav {
    margin-right: 40px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.credentials-nav a {
    font-size: 15px;
    width: 70px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-style: bold;
    padding: 10px;
    margin: 5px;
}

.login {
    color: white;
    background-color: black;
    border-radius: 20px;
}

.sign-up {
    color: black;
    background-color: #f9b42d;
    border-radius: 20px;
}