#load-board-btn {
    font-size: 20px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #f9b42d;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    height: 30px;
    width: 100px;
}

#load-board-btn:hover {
    background-color: #f9b42d;
}

.left {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
}

.full-width {
    width: 500px;
    height: auto;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}